* {
    text-align: center;
}

body {
font-family: Poppins, sans-serif;
margin: 0;
padding: 0;
background-image: url(/img/Lumina_bgred.png);
backdrop-filter: blur(5px);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
background-repeat: no-repeat;
background-position: center;

}
.containers {
background-color: rgba(65, 47, 47, 0.763);
padding: 0px;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
border: 2px solid #ffffff;
width: 650px;
text-align: center;
position: relative;
}

header {
background-color: #863d3d;
color: rgb(255, 255, 255);
padding: 0px;
border-radius: 12px;
text-align: center;
position: relative;
}

img {
border-radius: 120px;
border: 3px solid #ffffff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
transform: translate(-165%, 40%);
}
h1 {
transform: translate(7%, -130%);
}

h2 {
margin-top: -15px;
padding: 2px;
}

a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
}
.button {
    font-family: Poppins;
    background-color: #863d3d;
    border: none;
    border-radius: 12px;
    color: #863d3d;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 150px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.containers .btn:hover {
    background-color: black;
    color: white;
  }

.button1 {
    background-color: #863d3d;
    color: rgb(255, 255, 255);
    display: block;
        border: 2px solid #ffffff00;
  }

  .button1:hover {
    background-color: #a56f6f;
    color: rgb(255, 255, 255);
  }

  .socialbuttons {
    background-color: #863d3d;
    border-radius: 12px;
    border: 2px solid #ffffff00;
    color: white;
    padding: 12px 20px;
    font-size: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .socialbuttons:hover {
    background-color: #a56f6f;
  }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .hovertext {
  visibility: hidden;
  width: 120px;
  background-color: #863d3d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 110%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .hovertext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #863d3d transparent;
}

.tooltip:hover .hovertext {
  visibility: visible;
}

section {
padding: 0.2rem;
margin: 1rem;
color: #ffffff;
}
.contact {
color: #fff;
font-size: 14px;
padding: 7px;
}
a {
color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 80px auto;
  padding: 20px;
  background: #863d3d;
  border-radius: 5px;
  width: 40%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  font-size: 28px;
  color: #ffffff;
}

.popup p {
  color: white;
}

.popup .close {
  position: absolute;
  top: 15px;
  right: 30px;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.popup .close:hover {
  color: #e76767;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}